body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-style: italic;
}
a:link {
  color: #00f;
  text-decoration: underline;
  font-weight: normal;
}
a:visited {
  color: #005;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: square;
}
.proffesion {
  font-weight: bold;
}
.position {
  font-weight: 700;
}
.table-header {
  text-transform: uppercase;
  background-color: rgb(238, 196, 144);
}
.description {
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(238, 196, 144);
}
.avatar {
  padding: 10px;
  border: 2px solid rgb(152, 152, 159);
  background-color: rgb(238, 196, 144);
}
.decorator {
  border-bottom: 4px double rgb(238, 196, 144);
}
.table-experience {
  background-color: #b7bcc1;
}
