body {
  color: #333;
  font-family: "Inter", sans-serif;
  margin: 0;
  position: relative;
}

h3 {
  align-items: center;
  margin: 0;
}

h1,
h4 {
  margin: 0;
}

a:link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: #1c2e8c;
}

a:visited {
  color: #005;
}

a:hover {
  text-decoration: none;
}

ul li {
  margin: 0;
}

.main-container {
  max-width: 1200px;
  display: flex;

  margin: 0 auto;
}

.position {
  font-weight: 600;

  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 41px;
}

.table-header {
  text-transform: uppercase;
  background-color: rgb(238, 196, 144);
}

.avatar {
  width: 100%;
  height: 292px;
  object-fit: cover;
}

.decorator {
  border-bottom: 6px solid #1e1e1e;
  width: 75%;
}

.decorator-two {
  border-bottom: 5px solid #1e1e1e;
  width: 659px;
}

.table-experience {
  background-color: #b7bcc1;
}

a:link.contact-link {
  text-transform: uppercase;
  text-decoration: none;
}

.contact-link:hover {
  color: rgb(238, 196, 144);
}

.contact-information {
  display: block;
  margin-left: 41px;
  margin-bottom: 13px;
}

.contacts-container {
  font-weight: 600;
  line-height: 39px;
  color: #263036;
  padding-left: 41px;
  padding-right: 11px;
  min-width: 385px;
}

.contacts-title {
  font-size: 32px;
  padding-bottom: 15px;
}

.contacts-link-type {
  padding-top: 36px;
  font-size: 24px;
}

.contacts-link {
  font-size: 16px;
  line-height: 19px;
}

.language-container {
  font-size: 32px;
  line-height: 39px;
}

.language-title {
  padding-top: 36px;
  font-size: 32px;
  padding-bottom: 15px;
}

.language {
  padding: 0;
  list-style-type: none;
}

.language-text {
  font-size: 20px;
  line-height: 24px;
}

.work-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.firstname {
  margin: 58px 0px 36px 40px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;

  color: #ffffff;
}

.firstname span {
  color: #1c2e8c;
}

.header-container {
  display: flex;
  flex-direction: column;
}

.experience {
  padding-left: 55px;
  padding-right: 54px;
  padding-top: 58px;
  padding-bottom: 58px;
  width: 815px;
  margin-left: 385px;
  overflow: scroll;
}

.sidebar {
  width: 385px;
  background-color: #86a3b4;
  padding-bottom: 500px;
  position: fixed;
}

/* Summary */
.work-section-summary {
  margin-bottom: 49px;
}

.decorator-variant {
  margin: 0px;
  padding-bottom: 28px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;

  color: #1e1e1e;
}

.work-section-summary p {
  margin: 28px 0px 0px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: #263036;
}

/* Skills */
.work-section-skills {
  margin-bottom: 49px;
}

.skills-list {
  margin: 28px 0px 0px 0px;
  display: inline-flex;
}

.skills-list ul {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: #263036;
}

.skills-list .list-one,
.skills-list .list-two {
  width: 310px;
  padding-left: 20px;
}

/* Work */
.work-section-work {
  margin-bottom: 49px;
}

.work-list {
  margin-top: 31px;
}

.work-list p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;

  color: #000000;
}

.work-list p span {
  font-weight: 600;
}

.work-list p a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: #1c2e8c;
}

/* Education */

.education-list {
  margin-top: 31px;
}

.education-list p {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;

  color: #000000;
}

.education-list p span {
  font-weight: 600;
}

/* Hire me form */
.hire-me-container {
  position: fixed;
  top: calc(50% - 378px);
  left: calc(50% - 244px);
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 1024px;
}

.hire-me-title {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #1c2e8c;
}

.hire-me-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  display: table;
  border-spacing: 0px;
  border: 1px solid #b8bcca;
  border-collapse: separate;
  background: #f8fafc;
}

th,
td {
  border: 1px solid #b8bcca;
  padding: 10px;
}

td {
  width: 380px;
}

input,
select,
textarea {
  display: block;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
  border: none;
  width: 436px;
  height: 48px;
  font-family: inherit;
  background: #f8fafc;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #b8bcca;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #0048d9;
}

#email:invalid,
#work-type:invalid,
#textarea:invalid {
  border: 1px solid #ed0131;
}

.error {
  font-size: 12px;
  line-height: 16px;
  color: #ed0131;
}

.success {
  font-size: 12px;
  line-height: 16px;
  color: #0e6245;
  display: none;
}

#textarea:valid + .error {
  display: none;
}

#email:valid + .error {
  display: none;
}

.label-required:after {
  content: "*";
  color: #ed0131;
}

#email:valid {
  border: 1px solid #0e6245;
}

#work-type {
  appearance: none;
  font-size: 16px;
  line-height: 150%;
  color: #3b4256;
  background: url(./assets/mdi_arrow_drop_down.svg) no-repeat right #f8fafc;
  width: 460px;
}

#work-type:invalid {
  color: #b8bcca;
}

fieldset {
  border: 1px solid #3b4256;
  border-radius: 16px;
}

fieldset label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6f7482;
}

.hire-me-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #0048d9;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 48px;
  border: 1px solid #0048d9;
  background-color: #ffffff;
  border-radius: 6px;
}

.hire-me-button:hover {
  background: #e7f2fd;
}

textarea {
  min-height: 139px;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  width: 436px;
  padding: 12px;
}
