:root {
  /* sizes */
  --margin-bottom-work-section: 49px;
  --padding-bottom-work-section: 28px;
  --padding-bottom-contact-section: 15px;
  --padding-top-contact-section: 36px;
}

/*colors */
.main-theme {
  --color-background-sidebar: #86a3b4;
  --color-main-text-primary: #1c2e8c;
  --color-main-link-secondary: #005;
  --color-global-default: #ffffff;
  --color-global-text-primary: #000000;
  --color-global-text-secondary: #263036;
  --color-text-accent: #e89a4c;
  --color-border-primary: #1e1e1e;
}

body {
  color: var(--color-global-text-primary);
  font-family: "Inter", sans-serif;
  margin: 0;

  /* overscroll-behavior: none; */
}

h3 {
  align-items: center;
  margin: 0;
}

h1,
h4 {
  margin: 0;
}

a:link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-main-text-primary);
}

a:visited {
  color: var(--color-main-link-secondary);
}

a:hover {
  text-decoration: none;
}

ul li {
  margin: 0;
}

.main-container {
  max-width: 1200px;
  display: flex;
  overflow: hidden;
  margin: 0 auto;
}

.position {
  font-weight: 600;

  margin-top: 25px;
  margin-bottom: 10px;
  margin-left: 41px;
}

.avatar {
  width: 100%;
  height: 292px;
  object-fit: cover;
}
.avatar:hover {
  box-shadow: 10px 10px 16px 0px #00000040;

  animation: scaling 2s cubic-bezier(0.07, 0.49, 0.94, 0.53);
}

@keyframes scaling {
  0% {
  }
  100% {
    transform: scale(2) translate(25%, 25%);
  }
}

.decorator {
  border-bottom: 6px solid var(--color-border-primary);
  width: 75%;
}

.decorator-two {
  border-bottom: 5px solid var(--color-border-primary);
  width: 659px;
}

a:link.contact-link {
  text-transform: uppercase;
  text-decoration: none;
}

.contact-link:hover,
a:link.contacts-link:hover,
a.network-link:hover {
  color: var(--color-text-accent);
}

.contact-information {
  display: block;
  margin-left: 41px;
  margin-bottom: 13px;
}

.contacts-container {
  font-weight: 600;
  line-height: 39px;
  color: var(--color-global-text-secondary);
  padding-left: 41px;
  padding-right: 11px;
  width: 385px;
}

.contacts-title {
  font-size: 32px;
  padding-bottom: var(--padding-bottom-contact-section);
}

.contacts-link-type {
  padding-top: var(--padding-top-contact-section);
  font-size: 24px;
}

a.contacts-link,
a.network-link {
  font-size: 16px;
  line-height: 19px;
}

.language-container {
  font-size: 32px;
  line-height: 39px;
}

.language-title {
  padding-top: var(--padding-top-contact-section);
  font-size: 32px;
  padding-bottom: var(--padding-bottom-work-section);
}

.language {
  padding: 0;
  list-style-type: none;
}

.language-text {
  font-size: 20px;
  line-height: 24px;
}

.work-section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.firstname {
  margin: 58px 0px 36px 40px;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2;

  color: var(--color-global-default);
}

.firstname span {
  color: var(--color-main-text-primary);
}

.header-container {
  display: flex;
  flex-direction: column;
}

.experience {
  padding-left: 55px;
  padding-right: 54px;
  padding-top: 58px;

  opacity: 0;
  animation: appear 1s ease 0.7s forwards;
  transform: translate(0px, 100%);
}

.sidebar {
  width: 385px;
  background-color: var(--color-background-sidebar);
  padding-bottom: 500px;

  box-shadow: 1px 0px 13px 7px #504b4b40;
  border-right: 1px solid var(--color-border-primary);
  z-index: 1;

  opacity: 0;
  animation: appear 1s ease 0.1s forwards;
  transform: translate(0px, 100%);
}

@keyframes appear {
  0% {
  }
  100% {
    transform: translate(0px, 0%);
    opacity: 1;
  }
}

/* Summary */
.work-section-summary {
  margin-bottom: var(--margin-bottom-work-section);
}

.decorator-variant {
  margin: 0px;
  padding-bottom: var(--padding-bottom-work-section);
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;

  color: var(--color-border-primary);
}

.work-section-summary p {
  margin: 28px 0px 0px 0px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-global-text-secondary);
}

/* Skills */
.work-section-skills {
  margin-bottom: var(--margin-bottom-work-section);
}

.skills-list {
  margin: 28px 0px 0px 0px;
  display: inline-flex;
}

.skills-list ul {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-global-text-secondary);
}

.skills-list .list-one,
.skills-list .list-two {
  width: 310px;
  padding-left: 20px;
}

/* Work */
.work-section-work {
  margin-bottom: 49px;
}

.work-list {
  margin-top: 31px;
}

.work-list p {
  margin: 0;
  font-size: 14px;
  line-height: 1.2;

  color: var(--color-global-text-primary);
}

.work-list p span {
  font-weight: 600;
}

.work-list p a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-main-text-primary);
}
.work-list.previous {
  opacity: 0.5;
}

.work-list.previous:hover {
  animation: liquid 2s ease-in-out forwards;
}

@keyframes liquid {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
/* Education */

.education-list {
  margin-top: 31px;
}

.education-list p {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;

  color: var(--color-global-text-primary);
}

.education-list p span {
  font-weight: 600;
}

/* Hire me form */
.hire-me-container {
  position: fixed;
  top: calc(50% - 388px);
  left: calc(50% - 244px);
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 1024px;

  animation: wane 3s linear;
}

@keyframes wane {
  0% {
    scale: 200%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}

.hire-me-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--color-main-text-primary);
}

.hire-me-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

table {
  display: table;
  border-spacing: 0px;
  border: 1px solid #b8bcca;
  border-collapse: separate;
  background: #f8fafc;
}

th,
td {
  border: 1px solid #b8bcca;
  padding: 10px;
}

td {
  width: 380px;
}

input,
select,
textarea {
  display: block;
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
  border: none;
  width: 436px;
  height: 48px;
  font-family: inherit;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;
}

::placeholder {
  font-size: 16px;
  line-height: 150%;
  color: #b8bcca;
}

input:focus,
select:focus,
textarea:focus {
  border: 1px solid #0048d9;
}

#email:invalid,
#work-type:invalid,
#textarea:invalid {
  border: 1px solid #ed0131;
}

.error {
  font-size: 12px;
  line-height: 16px;
  color: #ed0131;
}

.success {
  font-size: 12px;
  line-height: 16px;
  color: #0e6245;
  display: none;
}

#textarea:valid + .error {
  display: none;
}

#email:valid + .error {
  display: none;
}
#email:valid ~ .success {
  display: block;
}

.label-required:after {
  content: "*";
  color: #ed0131;
}

#email:valid {
  border: 1px solid #0e6245;
}

#work-type {
  appearance: none;
  font-size: 16px;
  line-height: 150%;
  color: #3b4256;
  background: url(./assets/mdi_arrow_drop_down.svg) no-repeat right #f8fafc;
  width: 460px;
}

#work-type:invalid {
  color: #b8bcca;
}

fieldset {
  border: 1px solid #3b4256;
  border-radius: 16px;
}

fieldset label {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #6f7482;
}

.hire-me-button {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #0048d9;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 48px;
  border: 1px solid #0048d9;
  background-color: #ffffff;
  border-radius: 6px;
}

.hire-me-button:hover {
  background: #e7f2fd;
}

textarea {
  min-height: 139px;
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
  width: 436px;
  padding: 12px;
}
@media screen and (max-width: 550px) {
  .main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .experience,
  .sidebar,
  .decorator-two,
  .skills-list .list-one,
  .skills-list .list-two {
    width: 100%;
  }
  .sidebar {
    padding-bottom: 64px;
  }
  .contacts-container {
    width: 75%;
    padding-right: 0;
    padding-left: 28px;
  }
  .experience {
    padding-left: 28px;
    padding-right: 54px;
    padding-bottom: 43px;
  }
  .position {
    margin-left: 28px;
  }
  .contact-information {
    margin-left: 28px;
  }
}
